body
{
	background-image: url('https://wx4.sinaimg.cn/mw690/d72195b9ly1fxssc0fu8pj2074074jrf.jpg');
}

div.theWhole
{
	
	background-color: #EFDFB5;
	margin-left: 100pt;
	margin-right: 100pt;
	margin-top: 0%;
	margin-bottom: 0%;
}

div.links
{
	margin-bottom: 40pt;

}

a.links
{
	font-size: 20pt;

}



a:link {color:black;text-decoration:none;}      /* 未访问链接*/
a:visited {color:black;text-decoration:none;}  /* 已访问链接 */
a:hover {color:#C5C4C4;text-decoration:underline;}  /* 鼠标移动到链接上 */
a:active {color:#C5C4C4;text-decoration:underline;}  /* 鼠标点击时 */

#shortindex1
{
	font-size: 25pt;
}

a.pages
{
	font-size: 10pt;

}

div.pages
{
	
	margin-bottom: 10pt;
	border-top-style: double;
}

div.Main
{
	border-style: double;
	margin-left: 40pt;
	margin-right: 40pt;
	margin-bottom: 40pt;
	background-image: url('https://wx4.sinaimg.cn/mw690/d72195b9ly1fxssc0fu8pj2074074jrf.jpg');

}

div.main
{
	margin: 30pt;
	background-color: rgba(255,255,255,0.5);

}

div.books
{
	display: inline-block;
	margin: 10pt;
}